body {
  background-color:  #ADD8E6;
  color: #00008b;
  font-family: Arial, sans-serif;
  
}

header {
  background-color: #00008b ;
  color:#ADD8E6 ;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #ADD8E6; 
}
